<%- include("partials/header.ejs") %>

<div class="notepad-parent">
    <div class="notepad">
        <div class="notepad-title">
            <h1 class="notepad-title-h1">To Do list</h1>
        </div>
        <div class="notepad-task">
            <div class="notepad-item">
                <% newListItems.forEach(function(item) { %>
                <form action="/delete" method="post">
                    <div class="list-item">
                        <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                        <p><%= item.name %></p>
                        <input type="hidden">
                    </div>
                </form>
                <% }) %>
                <form action="/" method="post" class="list-item">
                    <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
                    <button type="submit" name="list" value="<%= itemName %>">+</button>
                </form>
            </div>
        </div>
    </div>
</div>




<%- include("partials/footer.ejs") %>